The first few steps are general. Which are used to setup the system to run pyspark and the required libaries.

In [183]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.0.0/spark-3.0.0-bin-hadoop3.2.tgz
!tar xf spark-3.0.0-bin-hadoop3.2.tgz
!pip install -q findspark

In [184]:
!ls /usr/lib/jvm/

default-java		   java-11-openjdk-amd64     java-8-openjdk-amd64
java-1.11.0-openjdk-amd64  java-1.8.0-openjdk-amd64

In [185]:
import os
import sys
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.0-bin-hadoop3.2"

In [186]:
!pip install pyspark # this will install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (3.0.0)
Requirement already satisfied: py4j==0.10.9 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.9)

In [ ]:
 from pyspark import SparkContext 
 sc = SparkContext()

In [269]:
rdd = sc.textFile("/content/icp2.txt")#read the text file

The few lines of code looks at the data

In [270]:
rdd.count() # Return the number of elements in this RDD.

7

In [271]:
rdd.take(7)#Take the first num elements of the RDD. Return an array

['The University of South Carolina reports that more than 1,000 students currently have the virus.',
 'The C.D.C. tells health officials to be ready to distribute a vaccine by November, raising concerns over politicized timing.',
 'In Iowa, college students staged a sickout, and a football opener won’t have fans after all.',
 'Virus fallout from the Sturgis motorcycle rally: A death in Minnesota, cases in South Dakota and more.',
 'New studies show inexpensive steroid drugs can help critically sick people survive Covid-19.',
 'Silvio Berlusconi, Italy’s former prime minister, tests positive.',
 'A judge orders the University of California to stop considering SAT or ACT scores because of the pandemic.']

Transformation portion of the code

creating a function to split the data

In [347]:
def split_fun(data): #creaing split function
  data = data.split() #splits the data 
  return data #return the data

In [348]:
map_rdd = rdd.map(split_fun) #The rdd is mapped by passing in the function

In [350]:
map_rdd.take(2) #takes the first five. Return an array

[['The',
  'University',
  'of',
  'South',
  'Carolina',
  'reports',
  'that',
  'more',
  'than',
  '1,000',
  'students',
  'currently',
  'have',
  'the',
  'virus.'],
 ['The',
  'C.D.C.',
  'tells',
  'health',
  'officials',
  'to',
  'be',
  'ready',
  'to',
  'distribute',
  'a',
  'vaccine',
  'by',
  'November,',
  'raising',
  'concerns',
  'over',
  'politicized',
  'timing.']]

Return a new RDD by first applying a function to all elements of this RDD, and then flattening the results.

In [351]:
flatMap_rdd = rdd.flatMap(lower_split_fun) #passing in the function

In [352]:
flatMap_rdd.take(4)

['The', 'University', 'of', 'South']

The code below will out put the data based on the first letter of the word. It is grouped.

In [353]:
group_rdd = flatMap_rdd.groupBy(lambda w: w[0]) #taking the first letter 
y = group_rdd.collect() #Return a list that contains all of the elements in this RDD.
print([(k, list(v)) for (k, v) in y])
print()

[('S', ['South', 'Sturgis', 'South', 'Silvio', 'SAT']), ('C', ['Carolina', 'C.D.C.', 'Covid-19.', 'California']), ('r', ['reports', 'ready', 'raising', 'rally:']), ('1', ['1,000']), ('s', ['students', 'students', 'staged', 'sickout,', 'studies', 'show', 'steroid', 'sick', 'survive', 'stop', 'scores']), ('c', ['currently', 'concerns', 'college', 'cases', 'can', 'critically', 'considering']), ('h', ['have', 'health', 'have', 'help']), ('b', ['be', 'by', 'because']), ('d', ['distribute', 'death', 'drugs']), ('N', ['November,', 'New']), ('p', ['politicized', 'people', 'prime', 'positive.', 'pandemic.']), ('i', ['in', 'in', 'inexpensive']), ('j', ['judge']), ('T', ['The', 'The']), ('U', ['University', 'University']), ('o', ['of', 'officials', 'over', 'opener', 'orders', 'of', 'or', 'of']), ('t', ['that', 'than', 'the', 'tells', 'to', 'to', 'timing.', 'the', 'tests', 'the', 'to', 'the']), ('m', ['more', 'motorcycle', 'more.', 'minister,']), ('v', ['virus.', 'vaccine']), ('a', ['a', 'a', 'and', 'a', 'after', 'all.', 'and']), ('I', ['In', 'Iowa,', 'Italy’s']), ('f', ['football', 'fans', 'fallout', 'from', 'former']), ('w', ['won’t']), ('V', ['Virus']), ('A', ['A', 'A', 'ACT']), ('M', ['Minnesota,']), ('D', ['Dakota']), ('B', ['Berlusconi,'])]

Grouping by words

In [330]:
x = sc.parallelize(["kim", "matt", "tim", "smith", "Jake", "leory","Christ", "Jack", "Jib"], 3)
 
# Applying groupBy operation on x
y = x.groupBy(lambda word: word[0])
 
for t in y.collect():
    print((t[0],[i for i in t[1]]))

('k', ['kim'])
('t', ['tim'])
('s', ['smith'])
('J', ['Jake', 'Jack', 'Jib'])
('l', ['leory'])
('C', ['Christ'])
('m', ['matt'])